//----------
@body-background-color: #373737;
@login-section-bg-color: #FAF9F9;
@second-elements-bg-color: #EBEAEC;
@main-text-color: #737373;
@second-elements-color: #A4A0A0;
@third-elements-color: #E7E7E7;
@border-color: rgba(164, 160, 160, 0.3);
@button-color: #8DC058;
@names-color: #242424;
@white: #fff;
.right {
  margin-left: auto;
  padding-right: 1em;
}
.border {
  border: solid 1px @border-color;
  border-radius: 2px;
}
.communities-image {
  width: 2em;
  min-width: 10px;
  height: 2em;
  .border;
  padding: 0.3em;
  align-self: center;
}
.communities-list(@height, @padding) {
  height: @height;
  display: flex;
  padding: @padding;
}
//----------
html,
body.chat-page {
  height: 100%;
  font-family: "Roboto", sans-serif;
  margin: 0;
  overflow: hidden;
}
.chat-page {
  background-color: @body-background-color;
  color: @main-text-color;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
header {
  flex-grow: 1;
  flex-basis: calc(100% / 11 * 1);
  .user-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5em;
    .green-shape {
      border: none;
      color: @button-color;
      background-color: @button-color;
      border-radius: 50%;
      width: .5em;
      height: .5em;
    }
    img.communities-image {
      .communities-image;
      margin: 0 .5em;
    }
    .user-email {
      color: @white;
    }
  }
}
.chat-page section {
  background-color: @login-section-bg-color;
  height: inherit;
}
.main-section {
  flex-grow: 10;
  flex-basis: calc(100% / 11 * 10);
  display: flex;
  .chat-search {
    flex-grow: 4;
    flex-basis: calc(100% / 20 * 4);
    input {
      width: 100%;
      height: 3em;
      border: none;
      padding-left: 5px;
      align-self: center;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
      &::placeholder {
        color: @second-elements-color;
        padding-left: 1em;
        font-size: .9em;
      }
    }
    div.icon {
      width: 100%;
      height: 1.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: @login-section-bg-color;
      .border;
    }
    .communities-list {
      .communities-list(2.5em, 0.3em);
      border-bottom: solid 1px @border-color;
    }
    .communities-image {
      .communities-image;
    }
    span {
      display: flex;
      align-self: center;
    }
    .communities-name {
      display: flex;
      flex-direction: column;
      padding: 0 1em;
      color: @names-color;
      font-size: 0.9em;
      font-weight: 700;
      div {
        padding: 0;
      }
    }
    .communities-date {
      font-size: 0.7em;
      font-weight: 400;
      color: @second-elements-color;
    }
    .right {
      .right;
    }
    .communities-message {
      display: flex;
      padding: 0 1em;
      .communities-message-who-said {
        font-size: 0.8em;
        font-weight: 600;
      }
      .communities-message-phrase {
        font-size: 0.7em;
        font-weight: 400;
        padding-left: 0.5em;
        color: @second-elements-color;
      }
    }
  }
  .chat-window {
    flex-grow: 16;
    flex-basis: calc(100% / 20 * 16);
    display: flex;
    flex-direction: column;
    header {
      flex-grow: 1;
      flex-basis: calc(100% / 11 * 1);
      background-color: @login-section-bg-color;
      .border;
      .communities-list {
        .communities-list(inherit, 0.4em);
        .communities-name {
          display: flex;
          flex-direction: column;
          padding: 0 1em;
          color: @names-color;
          font-size: 0.9em;
          font-weight: 700;
        }
      }
      .communities-message-chat {
        display: flex;
        flex-direction: column;
        padding: 0 1em;
      }
      .communities-message-participants {
        font-size: 0.8em;
        font-weight: 400;
      }
      .communities-message-conversation {
        font-size: 0.8em;
        font-weight: 600;
      }
      button {
        margin-right: 1em;
        font-size: 0.7em;
        font-weight: 400;
        background-color: @button-color;
        .border;
        border-radius: 2em;
        color: @white;
        font-weight: 600;
        cursor: pointer;
      }
    }
    section.chat-section {
      flex-grow: 10;
      flex-basis: calc(100% / 11 * 10);

      display: flex;
      flex-direction: column;
      article {
        flex-grow: 10;
        flex-basis: calc(100% / 11 * 10);
        display: flex;
        main {
          flex-grow: 4;
          flex-basis: calc(100% / 5 * 4);
          background-image: linear-gradient(@third-elements-color, @login-section-bg-color);
          background-repeat: repeat;
          background-color: #f5f5f5;
          .border;
          box-shadow: inset 6px 6px 5px -5px @second-elements-color;
          &.chat-section-field {
            overflow: auto;
            align-items: center;

            div.chat-section-card {
              display: flex;
              justify-content: flex-start;
              width: 60%;
              min-height: 5em;
              margin: .9em auto;
              .border;
              border-radius: 3px;
              background-color: @white;
              padding: 0.5em;
              overflow: hidden;
              .communities-image {
                flex-grow: 1;
                flex-basis: calc(100% / 8 * 1);
              }
              .chat-section-card-text {
                flex-grow: 7;
                flex-basis: calc(100% / 8 * 7);
                margin-left: 0.5em;
                .communities-name {
                  color: @names-color;
                  font-size: 0.9em;
                  font-weight: 700;
                }
                .chat-section-message {
                  overflow: hidden;
                  color: @names-color;
                  font-size: 0.9em;
                  font-weight: 400;
                }
                .message-date {
                  color: @second-elements-color;
                  font-size: 0.7em;
                  font-weight: 400;
                  margin: 0;
                }
              }
            }
          }
        }
      }
      aside {
        flex-grow: 1;
        flex-basis: calc(100% / 5 * 1);
        .participants-container {
          height: 100%;
          width: inherit;
          padding: 1em;
          .participants-header {
            font-size: 0.9em;
            font-weight: 700;
            color: @main-text-color;
          }
          .participants-list {
            font-size: 0.7em;
            font-weight: 400;
          }
          hr {
            width: 90%;
          }
        }
      }
    }
    footer.chat-message-container {
      .border;

      flex-grow: 1;
      flex-basis: calc(100% / 11 * 1);
      background-color: @second-elements-bg-color;
      display: flex;
      align-items: center;
      .chat-message-area {
        display: flex;
        background-color: @white;
        .border;
        border-radius: 5px;
        margin-left: 11vw;
        width: 50%;
    }
      #chat-message-text {
        width: 50vw;
        min-width: 100px;
        height: 2em;
        background-color: @white;
        border-radius: 5px;
        border: none;
        color: @main-text-color;
        font-family: "Times New Roman", serif;
        padding: 0.5em;
      }
      .chat-message-buttons {
        background-color: @white;

        border-radius: 5px;
        height: 2em;
        width: 5em;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .chat-message-button {
          i {
            color: @second-elements-color;
          }
        }
      }
    }
  }
}
input,button, textarea {outline:none;
}
