//---------------------------------
//Variables and Mixins
@stringVar: "Logo ";
.logoStyle (@font-size) {
  &:before{
    content: @stringVar;
    font-size: @font-size;
    font-family: 'Alfa Slab One', cursive;
    font-style: italic;
  }
}
.border {
  border: 1.5px solid #E7E7E7;
  border-radius: 5px;
}
.placeholder {
&::-webkit-input-placeholder {color:#A4A0A0;}
&:-moz-placeholder          {color:#A4A0A0;}
&:-ms-input-placeholder      {color:#A4A0A0;}
}
//--------------------------------
html,
body.index-page {
  height: 100%;
}
body.index-page{
  background-color: #373737;
  color: #737373;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}
header.index {
  flex-grow: 1;
  flex-basis: calc(100% / 11 * 1);
}
.login-section {
  flex-grow: 7;
  flex-basis: calc(100%/11*7);
  // min-height: 33vw;
  background-color: #FAF9F9;
  display: flex;
  justify-content: center;
  // align-items: center;

  
}
.form-section{
  display: flex;
  width: 20%;
  min-width: 170px;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  button {
    color: #A4A0A0;
    border: none;
    background-color: #FAF9F9;
    font-weight: 700;
    padding-top: 3%;
      &:hover{
      color: #8DC058;
    }
  }
  p {
    font-size: 1.8em;
  }
  form {
    input{
      display: inline-block;
      width: 100%;
      height: 2em;
      margin-top: 5%;
      padding-left: 5px;
      .placeholder();
      .border();
      &#keep-sign {
        width: auto;
      }
      &.submit {
        color: #E7E7E7;
        background-color: #8DC058;
        min-height: 2vw;
        cursor: pointer;
      }
     
    }
    label{
      display: inline-block;
    }
    .checkbox {
      display: flex;
      margin-top: 5%;
      input{
        margin-top: 0px;
      }
      div {
        color: #A4A0A0;
        font-size: 0.9em;
        margin-left: 10%;
        label:first-child{
          font-weight: 700;
        }
      }
    }
    }
  }
 footer {
  flex-grow: 3;
  flex-basis: calc(100% / 11 * 1);
 
 section {
  margin: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  ol {
    list-style: none;
    li {
      display: inline;
      margin-right: 0.5em;
    }
  }
  p {
    color: #EBEAEC;
   
  }
   &.footer-social {
    li {
      border-radius: 50%;
      background-color: #EBEAEC;
      padding: 5px;
      i {
        width: 1em;
        height: 1em;
      }
    }
    p {
      .logoStyle(1em);
    }
  }
  &.footer-contacts {
    font-size: 0.7em;
    p {
      .logoStyle(2.5em);
    }
    li {
      color: #737373;
      border-right: 1px solid #737373;
      padding-right: 5px;
      &:last-child {
        border: none;
      }
    }
  }
 } 
 hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #A4A0A0;
  margin: 2em;
  padding: 0;
}
 }